# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Home Assistant
*.db
*.db-shm
*.db-wal

# IDE / Editors
.vscode/
.idea/
*.code-workspace

# Logs
logs/
*.log

# OS / Editor specific files
.DS_Store
Thumbs.db